<template>
    <section class="codes">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <form action="/api/v1/code/new" class="form" id="create-code" @submit.prevent="generate">
                        <div class="form__group">
                            <label for="role" class="label">Роль пользователя:</label>
                            <select name="role" id="role" class="select" v-model="code.role.id">
                                <option value="2">Дилер</option>
                                <option value="3">Повар</option>
                                <option value="4">Охрана</option>
                                <option value="5">Поставщик</option>
                                <option value="6">Картель</option>
                            </select>
                        </div>
                        <div class="form__group">
                            <label for="expiresAt" class="label">Срок действия кода:</label>
                            <input type="date" id="expiresAt" class="input" name="expiresAt" v-model="code.expiresAt"
                                   required="required">
                        </div>
                        <div class="form__group">
                            <input type="submit" class="submit" value="Сгенерировать ключ">
                            <div class="error">
                                {{ err }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="offset-lg-1 col-lg-8 col-md-8 col-sm-12 codes__table">
                    <div v-if="totalElements === 0">
                        <h1 class="h1">Нет сгенерированных кодов</h1>
                    </div>
                    <div class="codes__content" v-else>
                        <div class="pagination text-right">
                            <button class="pagination__button" @click="updateResource(0, pageSize)"
                                    :disabled="first">
                                &laquo;
                            </button>
                            <button class="pagination__button" @click="updateResource(currentPage - 1, pageSize)"
                                    :disabled="first">
                                &larr;
                            </button>
                            <span>{{currentPage + 1}} / {{totalPages}}</span>
                            <button class="pagination__button" @click="updateResource(currentPage + 1, pageSize)"
                                    :disabled="last">
                                &rarr;
                            </button>
                            <button class="pagination__button" @click="updateResource(totalPages - 1, pageSize)"
                                    :disabled="last">
                                &raquo;
                            </button>
                        </div>
                        <table class="table">
                            <thead>
                            <tr class="table__row">
                                <th class="table__head">Код</th>
                                <th class="table__head">Роль</th>
                                <th class="table__head">Истекает</th>
                                <th class="table__head">Активен</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table__row" v-for="code in codes">
                                <td class="table__data">{{code.keyCode}}</td>
                                <td class="table__data">{{computedRole(code.role.name)}}</td>
                                <td class="table__data">{{computedDate(code.expiresAt)}}</td>
                                <td class="table__data">{{computedActive(code.isActive)}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import {codeToMessage, proxyLink} from '../utils';

  export default {
    name: 'codes',
    data() {
      return {
        code: {
          role: {
            id: 2
          },
          expiresAt: '',
        },
        err: '',
        codes: [],
        currentPage: 0,
        first: true,
        last: true,
        pageSize: 10,
        totalPages: 0,
        totalElements: 0,
      }
    },
    mounted: function () {
      this.updateDate();
      this.updateResource(this.currentPage, this.pageSize);
    },
    methods: {
      updateDate: function () {
        let now = new Date();
        let nextWeek = new Date(now.getFullYear(), now.getMonth(), now.getDate() + 8);
        this.code.expiresAt = nextWeek.toISOString().split('T')[0];
      },
      generate: function () {
        this.$http.post(proxyLink('/api/v1/codes/new'), this.code, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            window.location.reload();
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      updateResource: function (page, size) {
        let query = 'page=' + page + '&size=' + size;
        this.$http.get(proxyLink('/api/v1/codes/?' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.codes = resp.data.content;
          this.currentPage = resp.data.number;
          this.totalPages = resp.data.totalPages;
          this.totalElements = resp.data.totalElements;
          this.first = resp.data.first;
          this.last = resp.data.last;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedRole(role) {
        let res = '';
        switch (role) {
          case 'ROLE_SECURITY':
            res = 'Охрана';
            break;
          case 'ROLE_COOK':
            res = 'Повар';
            break;
          case 'ROLE_CARTEL':
            res = 'Картель';
            break;
          case 'ROLE_PROVIDER':
            res = 'Поставщик';
            break;
          case 'ROLE_DEALER':
            res = 'Дилер';
            break;
        }

        return res;
      },
      computedActive(active) {
        return active === 1 ? 'Да' : 'Нет';
      },
      computedDate(date) {
        let dt = new Date(date);
        return dt.toISOString().split('T')[0];
      }
    }
  };
</script>