<template>
    <section class="main">
        <video autoplay muted loop id="video" class="main__video" poster="../assets/img/poster.png">
            <source src="../assets/video/main.webm" type="video/webm">
            <source src="../assets/video/main.mp4" type="video/mp4">
        </video>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-6 col-sm-6 d-none d-sm-block text-center">
                    <img src="../assets/img/logo.png" alt="Breaking Bad" class="img-responsive" title="Breaking Bad"/>
                </div>
                <div class="offset-lg-2 col-lg-5 col-md-6 col-sm-6 col-12 text-center">
                    <div class="main__form">
                        <img src="../assets/img/logo.png" alt="Breaking Bad" class="img-responsive main__logo"
                             title="Breaking Bad"/>
                        <form action="/oauth/token" method="post" v-if="isLogin" class="form" @submit.prevent="login">
                            <h1 class="h1">Вход</h1>
                            <div class="form__group">
                                <input v-model="username" type="text" class="input input__login" placeholder="Логин"
                                       required="required"/>
                            </div>
                            <div class="form__group">
                                <input v-model="password" type="password" class="input input__password" placeholder="Пароль"
                                       required="required"/>
                            </div>
                            <div class="form__group">
                                <input type="submit" class="submit" value="Войти"/>
                            </div>
                            <div class="form__group">
                                <div class="error">
                                    {{ err }}
                                </div>
                                <p class="p text-center">Еще не зарегистированы?</p>
                                <div class="link link__form text-center" @click="flip">Зарегистрироваться</div>
                            </div>
                        </form>

                        <form action="/api/v1/signup" method="post" class="form" @submit.prevent="signup" v-else>
                            <h1 class="h1">Регистрация</h1>
                            <div class="form__group">
                                <input v-model="username" type="text" class="input" placeholder="Логин*"
                                       required="required"/>
                            </div>
                            <div class="form__group">
                                <input v-model="password" type="password" class="input" placeholder="Пароль*"
                                       required="required"/>
                            </div>
                            <div class="form__group">
                                <input v-model="confirmPassword" type="password" class="input"
                                       placeholder="Повторите пароль*"
                                       required="required"/>
                            </div>
                            <div class="form__group">
                                <input v-model="code" type="text" name="code" class="input" placeholder="Код"/>
                            </div>
                            <div class="form__group">
                                <input type="submit" class="submit" value="Зарегистрироваться"/>
                            </div>
                            <div class="form__group">
                                <div class="error">
                                    {{ err }}
                                </div>
                                <div class="success">
                                    {{ success }}
                                </div>
                                <p class="p text-center">Уже есть аккаунт?</p>
                                <div class="link link__form text-center" @click="flip">Войти</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import {codeToMessage, proxyLink} from '../utils';

  const AUTH_REQUEST = 'AUTH_REQUEST';

  export default {
    name: 'index',
    data() {
      return {
        username: '',
        password: '',
        confirmPassword: '',
        code: '',
        isLogin: true,
        err: '',
        success: '',
      }
    },
    methods: {
      flip() {
        this.username = '';
        this.password = '';
        this.confirmPassword = '';
        this.code = '';
        this.isLogin = !this.isLogin;
        this.err = '';
        this.success = '';
      },
      login() {
        const {username, password} = this;
        this.$store.dispatch(AUTH_REQUEST, {username, password}).then(() => {
          window.location.replace('/messages')
        }).catch(() => {
          this.err = 'Неверная пара логин-пароль'
        });
      },
      signup() {
        let data = {
          username: this.username,
          password: this.password,
          confirmPassword: this.confirmPassword,
          code: this.code
        };

        this.$http.post(proxyLink('/api/v1/signup'), data).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            this.err = '';
            this.success = 'Вы успешно зарегистрированы!';
            setTimeout(() => {
              this.flip();
            }, 2000);
          }
        }).catch(() => {
        });
      }
    }
  };
</script>