<template>
    <section class="messages">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="row messages__menu">
                        <div class="col-6 text-left">
                            <div class="pagination" v-if="totalElements > 0">
                                <button class="pagination__button" @click="updateResource(0, pageSize, part)"
                                        :disabled="first">
                                    &laquo;
                                </button>
                                <button class="pagination__button"
                                        @click="updateResource(currentPage - 1, pageSize, part)"
                                        :disabled="first">
                                    &larr;
                                </button>
                                <span>{{currentPage + 1}} / {{totalPages}}</span>
                                <button class="pagination__button"
                                        @click="updateResource(currentPage + 1, pageSize, part)"
                                        :disabled="last">
                                    &rarr;
                                </button>
                                <button class="pagination__button"
                                        @click="updateResource(totalPages - 1, pageSize, part)"
                                        :disabled="last">
                                    &raquo;
                                </button>
                            </div>
                        </div>

                        <div class="col-6 text-right">
                            <div class="messages__icon" @click="flip('in')"
                                 :class="{messages__icon_active: part === 'in'}">
                                Входящие
                            </div>
                            <div class="messages__icon messages__icon_out" @click="flip('out')"
                                 :class="{messages__icon_active: part === 'out'}">
                                Исходящие
                            </div>
                            <div class="messages__icon messages__icon_new" @click="changeAction('new', null)">
                                Написать сообщение
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <div v-if="totalElements === 0">
                        <h1 class="h1">Нет сообщений</h1>
                    </div>
                    <div class="messages__content" v-else>
                        <div class="message" v-for="msg in messages" :key="msg.id" @click="changeAction('open', msg)"
                             :class="{message__current: msg.id === message.id}">
                            <img :src="computedRole(msg)" alt="Аватар" class="message__avatar">
                            <div class="message__info">
                                <div class="message__author">
                                    {{computedUsername(msg)}}
                                </div>
                                <div class="message__preview">
                                    {{computedText(msg)}}
                                </div>
                            </div>
                            <div class="message__date">
                                {{computedDate(msg)}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="offset-lg-1 col-lg-6 col-md-6 col-sm-12 col-12 messages__forms">
                    <MessageShow :username="message.username" :text="message.text" :date="message.date" :id="message.id"
                                 :isSender="message.isSender"
                                 v-if="action === 'open'" v-on:answer="changeAction('answer', null)"/>
                    <MessageForm :username="message.username" v-else/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import MessageForm from "@/components/messages/MessageForm.vue";
  import MessageShow from "@/components/messages/MessageShow.vue";

  import { proxyLink } from '../utils';

  export default {
    name: 'messages',
    data() {
      return {
        part: 'in',
        action: 'new',
        message: {
          id: 0,
          username: '',
          text: '',
          date: '',
          isSender: false,
        },
        messages: [],
        currentPage: 0,
        first: true,
        last: true,
        pageSize: 5,
        totalPages: 0,
        totalElements: 0,
      }
    },
    components: {
      MessageForm,
      MessageShow,
    },
    mounted: function () {
      if (window.localStorage.getItem("part") !== null) {
        this.part = window.localStorage.getItem('part');
      }

      this.updateResource(this.currentPage, this.pageSize, this.part);
    },
    methods: {
      flip: function (part) {
        this.currentPage = 0;
        this.part = part;
        this.messages = [];
        this.updateResource(this.currentPage, this.pageSize, this.part);
      },
      changeAction: function (action, msg) {
        if (action === 'new') {
          this.message.id = 0;
          this.message.username = '';
          this.message.text = '';
          this.message.date = '';
          this.message.isSender = false;
        } else {
          if (msg !== null) {
            this.message.id = msg.id;
            this.message.username = this.part === 'in' ? msg.sender.username : msg.recipient.username;
            this.message.isSender = (this.part === 'out');
            this.message.text = msg.text;
            this.message.date = this.computedDate(msg);
          }
        }

        this.action = action;
      },
      updateResource: function (page, size, part) {
        window.localStorage.setItem('part', part);
        let query = 'page=' + page + '&size=' + size + '&part=' + part;
        this.$http.get(proxyLink('/api/v1/messages/?' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.messages = resp.data.content;
          this.currentPage = resp.data.number;
          this.totalPages = resp.data.totalPages;
          this.totalElements = resp.data.totalElements;
          this.first = resp.data.first;
          this.last = resp.data.last;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedRole(message) {
        let role = this.part === 'in' ? message.sender.role.name : message.recipient.role.name;
        return require('../assets/img/' + role.substring(role.lastIndexOf('_') + 1).toLowerCase() + '.png');
      },
      computedUsername(message) {
        return this.part === 'in' ? message.sender.username : message.recipient.username;
      },
      computedText(message) {
        return message.text.length > 15 ? message.text.substr(0, 15) + '...' : message.text;
      },
      computedDate(message) {
        let dt = new Date(message.createdAt);
        return dt.toISOString().split('T')[0];
      }
    }
  };
</script>