<template>
    <section class="err-page text-center">
       <h1 class="h1">404</h1>
       <h2 class="h2">Страница не найдена</h2>
        <a href="/" class="link">На главную</a>
    </section>
</template>

<script>
  export default {
    name: 'not-found',
  };
</script>