<template>
    <section class="orders">
        <OrdersCartel v-if="isCartel"/>
        <OrdersOther v-else-if="isDealer || isCustomer"/>
    </section>
</template>

<script>
  import OrdersCartel from "@/components/orders/OrdersCartel.vue";
  import OrdersOther from "@/components/orders/OrdersOther.vue";
  export default {
    name: 'orders',
    components: {
      OrdersCartel,
      OrdersOther,
    },
    computed: {
      isCartel() {
        return this.$store.getters.userRole === 'ROLE_CARTEL'
      },
      isCustomer() {
        return this.$store.getters.userRole === 'ROLE_CUSTOMER'
      },
      isDealer() {
        return this.$store.getters.userRole === 'ROLE_DEALER'
      }
    }
  };
</script>