<template>
  <section class="orders">
    <ProposalsCartel v-if="isCartel"/>
    <ProposalsOther v-else-if="!isCartel && !isCustomer"/>
  </section>
</template>

<script>
  import ProposalsCartel from "@/components/proposals/ProposalsCartel.vue";
  import ProposalsOther from "@/components/proposals/ProposalsOther.vue";

  export default {
    name: 'proposals',
    components: {
      ProposalsCartel,
      ProposalsOther,
    },
    computed: {
      isCartel() {
        return this.$store.getters.userRole === 'ROLE_CARTEL'
      },
      isCustomer() {
        return this.$store.getters.userRole === 'ROLE_CUSTOMER'
      },
    }
  };
</script>