<template>
    <section class="reports">
        <div class="container">
            <div class="row">
                <div class="offset-lg-2 col-lg-8 offset-md-2 col-md-8 col-sm-12">
                    <form action="/api/v1/reports/new" class="form" @submit.prevent="createReport">
                        <h1 class="h1">Создать отчет</h1>
                        <div class="ingredients">
                            <div class="form__group" v-for="(ing, index) in ingredients">
                                <div class="row">
                                    <div class="col-6">
                                        <input type="text" class="input" placeholder="Название ингредиента"
                                               v-model="ing.ingredientName"
                                               required="required"/>
                                    </div>
                                    <div class="col-4" v-if="report.reportType === 'INGREDIENT'">
                                        <input type="number" class="input input__number" placeholder="Объем"
                                               v-model="ing.ingredientAmount"
                                               required="required"/>
                                    </div>
                                    <div class="col-4" v-if="report.reportType === 'CASH'">
                                        <input type="number" class="input input__number" placeholder="Стоимость"
                                               v-model="ing.ingredientPrice"
                                               required="required"/>
                                    </div>
                                    <div class="col-2">
                                        <div class="submit submit__delete" @click="removeIngredient(index)">-</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form__group">
                            <div class="row">
                                <div class="col-6">
                                    <input type="number" class="input input__total"
                                           placeholder="Итого" readonly="readonly"
                                           :value="totalValue"
                                           required="required"
                                           v-if="report.reportType === 'CASH'"/>
                                    <input type="number" class="input input__total"
                                           placeholder="Выход продукта"
                                           v-model="report.total"
                                           required="required" v-else/>
                                </div>
                                <div class="offset-4 col-2">
                                    <div class="submit" @click="addIngredient">+</div>
                                </div>
                            </div>
                        </div>

                        <div class="form__group">
                            <input type="submit" class="submit submit__report" value="Ok">
                            <div class="error">
                                {{ err }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import {codeToMessage, proxyLink} from '../utils.js';

  export default {
    name: 'reports',
    data() {
      return {
        report: {
          reportType: '',
          total: ''
        },
        ingredients: [],
        err: '',
      }
    },
    mounted: function () {
      this.ingredients.push({
        ingredientName: '',
        ingredientAmount: '',
        ingredientPrice: '',
      });

      if (this.isCook) {
        this.report.reportType = 'INGREDIENT';
      }

      if (this.isProvider) {
        this.report.reportType = 'CASH';
      }
    },
    methods: {
      addIngredient: function () {
        this.ingredients.push({
          ingredientName: '',
          ingredientAmount: '',
          ingredientPrice: '',
        });
      },
      removeIngredient: function (index) {
        this.ingredients.splice(index, 1);
      },
      cleanIngredients: function (oldIngr) {
        let newIngr = [];
        for (let i = 0; i < oldIngr.length; i++) {
          if (oldIngr[i] && oldIngr[i].ingredientName.replace(/\s/g, '')) {
            newIngr.push(oldIngr[i]);
          }
        }
        return newIngr;
      },
      createReport: function () {
        this.report.ingredient = this.cleanIngredients(this.ingredients);
        if (this.isProvider) {
            this.report.total = this.totalValue;
        }

        this.$http.post(proxyLink('/api/v1/reports/new'), this.report, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            window.location.reload();
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
    },
    computed: {
      isProvider() {
        return this.$store.getters.userRole === 'ROLE_PROVIDER'
      },
      isCook() {
        return this.$store.getters.userRole === 'ROLE_COOK'
      },
      totalValue: function () {
        let sum = 0;
        this.ingredients.forEach(function (item) {
          let val = item.ingredientPrice;
          if (!isNaN(parseFloat(val)) && isFinite(val))
            sum += (parseFloat(item.ingredientPrice));
        });

        return sum;
      }
    }
  };
</script>