<template>
    <section class="stats">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="row">
                        <div class="col-12">
                            <form action="/api/v1/statistics/" class="form" @submit.prevent="updateResource">
                                <div class="form__group">
                                    <label for="startAt" class="label">От:</label>
                                    <input type="date" id="startAt" class="input" name="startAt" v-model="statistic.startAt"
                                           required="required">
                                </div>
                                <div class="form__group">
                                    <label for="endAt" class="label">До:</label>
                                    <input type="date" id="endAt" class="input" name="endAt" v-model="statistic.endAt"
                                           required="required">
                                </div>
                                <div class="form__group">
                                    <input type="submit" class="submit" value="Ok">
                                    <div class="error">
                                        {{ err }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="row stats__total">
                                <div class="col-6 stats__total-item text-left">Доходы:</div>
                                <div class="col-6 stats__total-item text-right">${{totalIn}}</div>
                            </div>
                            <div class="row stats__total">
                                <div class="col-6 stats__total-item text-left">Расходы:</div>
                                <div class="col-6 stats__total-item text-right">${{totalOut}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-8 col-md-8 col-sm-12 codes__table stats__table">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-4 col-6">
                            <div class="orders-o__menu">
                                <div class="orders-o__menu-icon stats__menu-icon" @click="flip('TABLE')"
                                     :class="{'orders-o__menu-icon_active': mode === 'TABLE'}"
                                     title="Таблица">
                                    Таблица
                                </div>
                                <div class="orders-o__menu-icon stats__menu-icon_graph" @click="flip('GRAPH')"
                                     :class="{'orders-o__menu-icon_active': mode === 'GRAPH'}"
                                     title="График">
                                    График
                                </div>
                            </div>
                        </div>
                    </div>
                    <h1 class="h1" v-if="info.length === 0">Нет информации за указанный промежуток времени!</h1>
                    <div class="stats__content" v-else>
                        <StatisticChart :informationData="informationData" v-if="mode === 'GRAPH'"/>
                        <div class="codes__content" v-else>
                            <table class="table">
                                <thead>
                                <tr class="table__row">
                                    <th class="table__head">Дата</th>
                                    <th class="table__head">Доходы, $</th>
                                    <th class="table__head">Расходы, $</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="table__row" v-for="infData in info">
                                    <td class="table__data">{{infData.groupDate}}</td>
                                    <td class="table__data">{{infData.incoming}}</td>
                                    <td class="table__data">{{infData.outgoing}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import StatisticChart from "@/components/statistics/StatisticChart.vue";
  import {codeToMessage, proxyLink} from '../utils.js';

  export default {
    name: 'statistic',
    data() {
      return {
        mode: 'TABLE',
        statistic: {
          startAt: '',
          endAt: '',
        },
        informationData: {
          labels: [],
          incoming: [],
          outgoing: []
        },
        err: '',
        info: '',
        totalIn: 0,
        totalOut: 0,
      }
    },
    components: {
      StatisticChart,
    },
    mounted: function () {
      this.updateDate();
      this.updateResource();
    },
    methods: {
      flip(mode) {
        this.mode = mode;
      },
      updateDate() {
        let now = new Date();
        let prevWeek = new Date(now.getFullYear(), now.getMonth(), now.getDate() - 10);
        this.statistic.startAt = prevWeek.toISOString().split('T')[0];
        this.statistic.endAt = now.toISOString().split('T')[0];
      },
      updateResource() {
        this.$http.post(proxyLink('/api/v1/stats'), this.statistic, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (resp.data[0] !== undefined && resp.data[0].code !== undefined) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            this.err = '';
            this.info = resp.data;
            let th = this;
            this.informationData = {
              labels: [],
              incoming: [],
              outgoing: []
            };
            this.totalIn = 0;
            this.totalOut = 0;
            this.info.forEach(function (el) {
              th.informationData.labels.push(el.groupDate);
              th.informationData.incoming.push(el.incoming);
              th.totalIn += el.incoming;
              th.informationData.outgoing.push(el.outgoing);
              th.totalOut += el.outgoing;
            });
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      }
    }
  };
</script>