<template>
    <section class="orders">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                    <div class="row">
                        <div class="col-12 text-justify">
                            <div class="orders-o__menu">
                                <div class="orders-o__menu-icon orders-o__menu-icon_exec" @click="flip('ACCEPTED')"
                                     :class="{'orders-o__menu-icon_active': status === 'ACCEPTED'}"
                                     title="Исполняемые заявки">
                                    Исполняемые
                                </div>
                                <div class="orders-o__menu-icon orders-o__menu-icon_comp" @click="flip('COMPLETED')"
                                     :class="{'orders-o__menu-icon_active': status === 'COMPLETED'}"
                                     title="Завершенные заявки">
                                    Завершенные
                                </div>
                                <div class="orders-o__menu-icon orders-o__menu-icon_canc" @click="flip('CANCELED')"
                                     :class="{'orders-o__menu-icon_active': status === 'CANCELED'}"
                                     title="Отмененные заявки">
                                    Отмененные
                                </div>
                            </div>
                        </div>
                    </div>
                    <div v-if="totalElements === 0">
                        <h1 class="h1">Нет заявок</h1>
                    </div>
                    <div class="orders-o__content" v-else>
                        <div class="order" v-for="prop in proposals" :key="prop.id" @click="changeAction('open', prop)"
                             :class="{order_current: prop.id === proposal.id}">
                            <img :src="computedProposalType(prop.proposalType)" alt="Тип заявки" class="order__cart">
                            <div class="order__info">
                                <div class="order__number">
                                    {{computedNumber(prop.id)}}
                                </div>
                                <div class="order__date">
                                    {{computedDate(prop.createdAt)}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pagination" v-if="totalElements > 0">
                        <button class="pagination__button" @click="updateResource(0, pageSize, status)"
                                :disabled="first">
                            &laquo;
                        </button>
                        <button class="pagination__button"
                                @click="updateResource(currentPage - 1, pageSize, status)"
                                :disabled="first">
                            &larr;
                        </button>
                        <span>{{currentPage + 1}} / {{totalPages}}</span>
                        <button class="pagination__button"
                                @click="updateResource(currentPage + 1, pageSize, status)"
                                :disabled="last">
                            &rarr;
                        </button>
                        <button class="pagination__button"
                                @click="updateResource(totalPages - 1, pageSize, status)"
                                :disabled="last">
                            &raquo;
                        </button>
                    </div>
                </div>
                <div class="offset-lg-1 col-lg-6 col-md-6 col-sm-12 col-12" v-if="action === 'open'">
                    <TasksShow :proposal="proposal"/>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
  import TasksShow from "@/components/tasks/TasksShow.vue";
  import { proxyLink } from '../utils';

  export default {
    name: 'tasks',
    data() {
      return {
        status: 'ACCEPTED',
        action: 'new',
        proposal: {
          id: 0
        },
        proposals: [],
        currentPage: 0,
        first: true,
        last: true,
        pageSize: 5,
        totalPages: 0,
        totalElements: 0,
      }
    },
    components: {
      TasksShow
    },
    mounted: function () {
      this.updateResource(this.currentPage, this.pageSize, this.status);
    },
    methods: {
      flip: function (status) {
        this.currentPage = 0;
        this.proposals = [];
        this.status = status;
        this.updateResource(this.currentPage, this.pageSize, this.status);
      },
      changeAction: function (action, prop) {
        if (action === 'new') {
          this.proposal = {id: 0};
        } else {
          this.proposal = prop;
        }

        this.action = action;
      },
      updateResource: function (page, size, status) {
        let query = 'page=' + page + '&size=' + size + '&status=' + status + '&type=ALL';
        this.$http.get(proxyLink('/api/v1/proposals/tasks/?' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.proposals = resp.data.content;
          this.currentPage = resp.data.number;
          this.totalPages = resp.data.totalPages;
          this.totalElements = resp.data.totalElements;
          this.first = resp.data.first;
          this.last = resp.data.last;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedDate(timestamp) {
        return new Date(timestamp).toISOString().slice(0, 19).replace('T', ' ');
      },
      computedNumber(id) {
        return 'Заявка №' + id;
      },
      computedProposalType(proposalType) {
        return require('../assets/img/' + proposalType.toLowerCase() + 'Type.png');
      },
    }
  };
</script>