@import "vars"

/*==========  Desktop First  ==========*/

+media-breakpoint-down(xl)
+media-breakpoint-down(lg)
+media-breakpoint-down(md)
  section
    margin: 40px auto

  .h1
    font-size: 28px

  .p
    font-size: 14px

  .input, .textarea, .submit
    font-size: 14px

  .link
    font-size: 14px
    &__logout
      background: none
      font-size: 14px
      margin-bottom: 0
      width: auto
      height: auto
      text-align: center

  .header
    position: relative
    &__hamburger
      cursor: pointer
      display: flex
      justify-content: center
      flex-flow: column wrap
      height: 100%
      span
        width: 20px
        height: 2px
        background: #666
        margin: 2px 0 2px auto
    &__nav
      width: 100%
      display: none
      opacity: 0
      border-bottom: 1px solid #aaa
      background-color: #fff
      position: absolute
      right: 0
      left: 0
      top: 0
      &_open
        display: block
        border: 1px solid #aaa
        border-top: none
        opacity: 1
        z-index: 1
      .menu
        padding: 0
        line-height: 1.75
        text-align: center
        &__item:not(:last-child)
          display: block
          margin: 5px 0 10px

  .messages
    .message
      font-size: 14px
      height: 65px
      &__avatar
        width: 40px
    .msg
      &__content
        margin: 20px auto

  .orders
    &-c
      &__menu-item
        font-size: 14px
        padding: 7px 10px
    &-o
      &__menu-icon_active
        font-size: 14px
    .ord
      &__frame
        height: 200px
      &__content
        margin: 20px auto

+media-breakpoint-down(sm)
  body
    font-size: 14px

  section
    margin: 30px auto 30px

  .codes__table
    margin-top: 40px

  .stats__table
    margin-top: 10px

  .messages
    &__forms
      margin-top: 30px
    .message
      &__info
        width: calc(100% - 165px)

  .orders
    &-c
      &__dealer, &__submit
        width: 100%
    .ord
      margin-top: 10px
      &__frame
        height: 300px

+media-breakpoint-down(xs)
  .link
    margin-bottom: 20px
    &__logout
      margin-bottom: 0

  .header
    &__caption
      display: none

  .main
    &__logo
      display: block
    .h1
      display: none
    &__video
      display: none

  .orders
    &-c
      &__col-hide
        display: none
      &__dealer, &__submit
        width: 80%
    &-o
      &__menu-icon::before
        display: block
        margin: 0 auto
    .ord__frame
        height: 200px

  .proposals
    &-o
      &__menu
        margin-bottom: 0
    &-c
      &__pagination
        text-align: left

/*==========  Mobile First  ==========*/

+media-breakpoint-up(xs)
+media-breakpoint-up(sm)
+media-breakpoint-up(md)
+media-breakpoint-up(lg)
+media-breakpoint-up(xl)
