@import "fonts"
@import "libs"
@import "vars"

*::-webkit-input-placeholder
  color: #666
  opacity: 1

*:-moz-placeholder
  color: #666
  opacity: 1

*::-moz-placeholder
  color: #666
  opacity: 1

*:-ms-input-placeholder
  color: #666
  opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
  color: #666

body input:required:valid,
body textarea:required:valid
  color: #666

html, body
  height: 100%

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.75
  font-family: $default-font
  overflow-x: hidden
  opacity: 1
  background-color: $main-bg
  color: $main-color

#app, .content
  height: 100%
  &.app__main
    height: unset
    .content
      min-height: calc(100vh - #{$footer-height})

.img-responsive
  display: block
  max-width: 100%
  height: auto

.footer
  height: $footer-height
  line-height: $footer-height
  vertical-align: middle
  font-size: 16px
  font-weight: 300
  width: 100%
  text-align: center
  background-color: $footer-bg
  color: $footer-color
  &__link, &__link:hover
    color: $footer-color
    text-decoration: none

.input, .textarea, .select
  width: 100%
  border: none
  background-color: #fff
  color: #666
  border-bottom: 1px solid #e2e2e2
  vertical-align: middle
  padding: 3px 6px
  outline: none
  &:focus
    border-bottom: 1px solid $accent-color

.submit
  width: 100%
  text-align: center
  display: block
  border: none
  outline: none
  background-color: $accent-color
  text-transform: uppercase
  padding: 5px 0
  color: #fff
  text-decoration: none
  cursor: pointer
  &:hover
    background-color: $accent-color
    color: #fff
    text-decoration: none
  &__delete, &__delete:hover
    background-color: #fff
    border: 1px solid $accent-color
    color: $accent-color

.label
  font-weight: 400
  display: inline-block
  width: 100%
  text-align: left

.text
  &-left
    text-align: left
  &-center
    text-align: center
  &-right
    text-align: right
  &-justify
    text-align: justify

.form
  width: 100%
  &__group
    text-align: justify
    width: 100%
    &:not(:last-child)
      margin-bottom: 20px

.h1, .h2
  font-size: 30px
  font-weight: 300
  color: $accent-color
  text-align: center
  margin: 0
  padding: 0

.h2
  font-size: 24px
  color: #aaa

.p
  margin: 0
  padding: 0
  line-height: 1.5
  &_bold
    font-weight: 500
  span
    cursor: pointer
    color: $accent-color

.error
  text-align: center
  color: #e74c3c

.success
  text-align: center
  color: $accent-color

.table
  width: 100%
  &__row
    border-collapse: collapse
    text-align: center
    color: #4c4c4c
    &:nth-child(2n)
      background-color: #e2e2e2
  &__head
    font-weight: 500
  &__data
    padding: 5px
    font-weight: 400
  &_vertical
    .table
      &__head
        vertical-align: top
        width: 25%
      &__row
        vertical-align: top
        text-align: left
        &:nth-child(2n)
          background-color: transparent
      &__data
        width: 25%
        padding: 0 5px

.pagination
  &__button
    background-color: transparent
    outline: none
    border: none
    color: $accent-color
    cursor: pointer
    min-width: 25px
    min-height: 15px
    text-align: center

.link
  text-decoration: none
  color: $accent-color
  cursor: pointer
  &__logout
    font-size: 0
    height: 20px
    width: 20px
    background: transparent url("../img/icons/logout.svg") no-repeat center
  &__form
    text-decoration: underline
    &:hover
      text-decoration: none
      color: $accent-color
  &:hover
    text-decoration: none
    color: #666
  &__active
    color: #666

section
  margin: 60px auto

.header
  height: $header-height
  border-bottom: 1px solid #aaa
  &__hamburger
    display: none
  &__logo
    font-size: 18px
    line-height: 60px
    height: 60px
    vertical-align: middle
    color: $accent-color
  &__img
    width: 30px
    margin-right: 20px
    height: auto
  &__caption
    display: inline-block
  &__nav
    animation: fadeInFromNone 0.5s ease-out
  .menu
    list-style-type: none
    line-height: 60px
    vertical-align: middle
    &__item
      vertical-align: middle
      display: inline-block
      &:not(:last-child)
        margin-right: 30px

.main
  margin: 0
  display: flex
  align-items: center
  position: relative
  min-height: 100%
  width: 100%
  &__content
    height: 100vh
  &__logo
    width: 80%
    margin: 20px auto
    display: none
  &__video
    position: fixed
    right: 0
    left: 0
    margin: 0 auto
    bottom: 0
    min-width: 100%
    min-height: 100%

.messages
  &__menu
    margin-bottom: 20px
  &__icon
    cursor: pointer
    vertical-align: middle
    display: inline-block
    font-size: 0
    height: 25px
    width: 25px
    background: transparent url('../img/icons/mail-in.svg') no-repeat center
    background-size: cover
    &_out
      background-image: url('../img/icons/mail-out.svg')
    &_new
      background-image: url('../img/icons/new-message.svg')
    &_active
      filter: grayscale(1)
    &:not(:last-child)
      margin-right: 15px
    &__content:not(:last-child)
      margin-bottom: 0
  .message
    border: 1px solid #e2e2e2
    border-radius: 10px
    box-shadow: 0 10px 6px -6px #777
    padding: 10px 20px
    cursor: pointer
    color: #000
    display: flex
    align-items: center
    justify-content: space-between
    height: 80px
    &:not(:last-child)
      margin-bottom: 10px
    &__avatar, &__info, &__date
      display: inline-block
    &__avatar
      width: 50px
      border-radius: 50%
    &__info
      width: calc(100% - 190px)
    &__author
      font-weight: 500
    &__date
      text-align: right
      width: 90px
    &__current
      border-color: rgba($accent-color, .7)
      color: #fff
      background-color: rgba($accent-color, .7)
  .msg
    border: 1px solid #e2e2e2
    border-radius: 10px
    box-shadow: 0 10px 6px -6px #777
    &__header
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      background-color: #6d6d6d
      color: #fff
      padding: 20px 30px
    &__content
      text-align: justify
      margin: 40px auto
      padding: 0 30px
    &__footer
      padding: 20px 30px

.orders
  &-c
    &__dealer, &__submit
      margin: 0 auto
      width: 70%
    &__menu
      border: 1px solid #e2e2e2
      border-radius: 10px
      box-shadow: 0 10px 6px -6px #777
      &-item
        padding: 10px 20px
        border-bottom: 1px solid #e2e2e2
        cursor: pointer
        &_active
          border-color: rgba($accent-color, .7)
          color: #fff
          background-color: rgba($accent-color, .7)
        &:first-child
          border-top-left-radius: 10px
          border-top-right-radius: 10px
        &:last-child
          border-bottom-left-radius: 10px
          border-bottom-right-radius: 10px
  &-o
    &__summary
      text-align: right
      span
        font-weight: 600
    &__content
      margin-bottom: 10px
    &__menu
      margin-bottom: 20px
      display: flex
      justify-content: space-between
      &-icon
        cursor: pointer
        vertical-align: middle
        display: inline-block
        font-size: 0
        &::before
          content: ''
          display: inline-block
          vertical-align: middle
          height: 28px
          width: 28px
          background: transparent url('../img/icons/order-new.svg') no-repeat center
          background-size: cover
          margin-right: 5px
        &_wait::before
          background-image: url('../img/icons/order-waiting.svg')
        &_exec::before
          background-image: url('../img/icons/order-executable.svg')
        &_comp::before
          background-image: url('../img/icons/order-completed.svg')
        &_canc::before
          background-image: url('../img/icons/order-canceled.svg')
        &_new::before
          background-image: url('../img/icons/order-create.svg')
        &_active
          filter: grayscale(1)
          font-size: 16px
    &__content
      .order
        border: 1px solid #e2e2e2
        border-radius: 10px
        box-shadow: 0 10px 6px -6px #777
        padding: 10px 20px
        cursor: pointer
        color: #000
        display: flex
        align-items: center
        justify-content: space-between
        height: 80px
        &:not(:last-child)
          margin-bottom: 10px
        &__cart, &__info, &__rating
          display: inline-block
        &__cart
          width: 50px
          border-radius: 50%
        &__info
          width: calc(100% - 70px)
        &__number
          font-weight: 500
        &_current
          border-color: rgba($accent-color, .7)
          color: #fff
          background-color: rgba($accent-color, .7)
  .ord
    border: 1px solid #e2e2e2
    border-radius: 10px
    box-shadow: 0 10px 6px -6px #777
    &__frame
      border: none
      width: 100%
      height: 300px
    &__header
      border-top-left-radius: 10px
      border-top-right-radius: 10px
      background-color: #6d6d6d
      color: #fff
      padding: 20px 30px
    &__content
      text-align: justify
      margin: 40px auto 10px
      padding: 0 30px 20px
    &__photo
      margin-top: 10px
    &__footer
      padding: 0 30px 20px
    &__form
      .label
        margin-bottom: 0
    &__help
      margin-top: 10px

.ingredients
  margin-bottom: 20px

.stats
  &__menu-icon::before
    background-image: url('../img/icons/table.svg')
  &__menu-icon_graph::before
    background-image: url('../img/icons/graphic.svg')
  &__total
    margin: 5px 0
    &-item:nth-child(2)
      font-weight: 500

.err-page
  height: 100%
  display: flex
  flex-flow: column
  justify-content: center
  padding-bottom: $header-height

@import "media"
// Всегда в конце
