<template>
    <div class="ord">
        <div class="ord__header">
            <div class="row">
                <div class="col-6 text-left">
                    {{computedNumber(proposal.id)}}
                </div>

                <div class="col-6 text-right">
                    {{computedDate(proposal.createdAt)}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-left">
                    {{computedType(proposal.status)}}
                </div>

                <div class="col-6 text-right">
                    {{computedType(proposal.proposalType)}}
                </div>
            </div>
        </div>
        <div class="ord__content">
            <div class="row">
                <div class="col-12">
                    <table class="table table_vertical">
                        <tr class="table__row" v-if="proposal.proposalType === 'SECURITY'">
                            <td class="table__head" v-if="proposal.security !== null">Пользователь</td>
                            <td class="table__data" v-if="proposal.security !== null">{{proposal.user.username}}</td>
                            <td class="table__head">Место</td>
                            <td class="table__data">{{proposal.place}}</td>
                        </tr>
                        <tr class="table__row" v-if="proposal.proposalType === 'SECURITY'">
                            <td class="table__head">Описание</td>
                            <td class="table__data" colspan="3">{{proposal.description}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: "TasksShow",
    props: {
      proposal: Object
    },
    methods: {
      computedDate(timestamp) {
        return new Date(timestamp).toISOString().slice(0, 19).replace('T', ' ');
      },
      computedNumber(id) {
        return 'Заявка №' + id;
      },
      computedType(status) {
        let res = '';
        switch (status) {
          case 'INGREDIENT':
            res = 'Ингредиенты';
            break;
          case 'GOOD':
            res = 'Товар';
            break;
          case 'CASH':
            res = 'Денежные средства';
            break;
          case 'SECURITY':
            res = 'Силовая поддержка';
            break;
          case 'NEW':
            res = 'Новая';
            break;
          case 'ACCEPTED':
            res = 'Исполняемая';
            break;
          case 'COMPLETED':
            res = 'Завершенная';
            break;
          case 'CANCELED':
            res = 'Отмененная';
            break;
        }

        return res;
      }
    }
  }
</script>
