<template>
    <form action="/api/v1/messages/new" class="form" @submit.prevent="sendMessage">
        <div class="form__group" v-if="isCustomer">
            <p class="p p_bold">
                Если у Вас возникли вопросы, либо вы не нашли заказ, напишите пользователю с ником <span class="messages__support" @click="changeUsername">support</span>
            </p>
        </div>
        <div class="form__group">
            <input type="text" class="input" placeholder="Имя пользователя"
                   v-model="message.recipient.username"
                   required="required"/>
        </div>

        <div class="form__group">
            <textarea placeholder="Сообщение" class="textarea" v-model="message.text"
                      required="required" rows="5"></textarea>
        </div>

        <div class="form__group">
            <input type="submit" class="submit" value="Отправить">
            <div class="error">
                {{ err }}
            </div>
        </div>
    </form>
</template>

<script>
  import {codeToMessage, proxyLink} from '../../utils.js';

  export default {
    name: 'MessageForm',
    props: {
      username: String,
    },
    data() {
      return {
        message: {
          recipient: {
            username: this.username
          },
          text: ''
        },
        err: ''
      }
    },
    watch: {
      username: function () {
        this.message.recipient.username = this.username;
      }
    },
    methods: {
      changeUsername: function () {
        this.message.recipient.username = 'support';
      },
      sendMessage: function () {
        this.$http.post(proxyLink('/api/v1/messages/new'), this.message, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            window.location.reload();
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
    },
    computed: {
      isCustomer() {
        return this.$store.getters.userRole === 'ROLE_CUSTOMER'
      },
    }
  };
</script>
