<template>
    <div class="msg">
        <div class="msg__header">
            <div class="row">
                <div class="col-6 text-left">
                    {{username}}
                </div>
                <div class="col-6 text-right">
                    {{date}}
                </div>
            </div>
        </div>
        <div class="msg__content">
            <div class="row">
                <div class="col-12">
                    {{text}}
                </div>
            </div>
        </div>
        <div class="msg__footer">
            <div class="row">
                <div class="col-6" v-show="isSender">
                    <div class="submit submit__delete" @click="deleteMessage">Удалить</div>
                </div>
                <div class="col-6" :class="{'offset-6': !isSender}">
                    <div class="submit" @click="reply">Ответить</div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  import { proxyLink } from '../../utils';

  export default {
    name: 'MessageShow',
    props: {
      id: Number,
      username: String,
      text: String,
      date: String,
      isSender: Boolean
    },
    methods: {
      reply: function () {
        this.$emit('answer');
      },
      deleteMessage: function () {
        let link = '/api/v1/messages/' + this.id;
        this.$http.delete(proxyLink(link), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then(() => {
          window.location.reload();
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      }
    }
  };
</script>
