<!doctype html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="The best site for buying buns">
  <meta name="keywords" content="breaking bad, buns">

  <title>Breaking Bad</title>

  <meta property="og:site_name" content="Breaking Bad"/>
  <meta property="og:title" content="Breaking Bad"/>
  <meta property="og:description" content="The best site for buying buns"/>
  <meta property="og:url" content="<%= BASE_URL %>"/>
  <meta property="og:locale" content="ru_RU"/>
  <meta property="og:image" content="<%= BASE_URL %>favicon/og.png"/>
  <meta property="og:image:width" content="1600"/>
  <meta property="og:image:height" content="800"/>

  <link rel="shortcut icon" href="<%= BASE_URL %>favicon/icon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="<%= BASE_URL %>favicon/icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="<%= BASE_URL %>favicon/icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="<%= BASE_URL %>favicon/icon-114x114.png">

  <!-- Chrome, Firefox OS and Opera -->
  <meta name="theme-color" content="#000">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#000">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#000">

  <style>
    body {
      opacity: 0;
      overflow-x: hidden;
    }

    html {
      background-color: #fff;
    }
  </style>
</head>
<body>
<noscript>
  <strong>We're sorry but Breaking Bad Application doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<div id="app" class="app"></div>
<!-- built files will be auto injected -->
</body>
</html>