<template>
    <div class="ord">
        <div class="ord__header">
            <div class="row">
                <div class="col-6 text-left">
                    {{computedNumber(proposal.id)}}
                </div>

                <div class="col-6 text-right">
                    {{computedDate(proposal.createdAt)}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-left">
                    {{computedType(proposal.status)}}
                </div>

                <div class="col-6 text-right">
                    {{computedType(proposal.proposalType)}}
                </div>
            </div>
        </div>
        <div class="ord__content">
            <div class="row">
                <div class="col-12">
                    <table class="table table_vertical">
                        <tr class="table__row" v-if="proposal.proposalType === 'GOOD'">
                            <td class="table__head">Граммы</td>
                            <td class="table__data">{{proposal.quantity}}</td>
                            <td class="table__head">Место</td>
                            <td class="table__data">{{proposal.place}}</td>
                        </tr>
                        <tr class="table__row" v-if="proposal.proposalType === 'SECURITY'">
                            <td class="table__head" v-if="proposal.security !== null">Пользователь</td>
                            <td class="table__data" v-if="proposal.security !== null">{{proposal.security.username}}</td>
                            <td class="table__head">Место</td>
                            <td class="table__data">{{proposal.place}}</td>
                        </tr>
                        <tr class="table__row" v-if="proposal.proposalType === 'SECURITY'">
                            <td class="table__head">Описание</td>
                            <td class="table__data" colspan="3">{{proposal.description}}</td>
                        </tr>
                        <tr class="table__row" v-if="proposal.proposalType === 'INGREDIENT' || proposal.proposalType === 'CASH'">
                            <td class="table__head">Название ингредиента</td>
                            <td class="table__head text-right" v-if="proposal.proposalType === 'CASH'">Цена</td>
                            <td class="table__head text-right" v-else>Объемы</td>
                        </tr>
                        <tr class="table__row" v-for="ing in proposal.ingredient" v-if="proposal.proposalType === 'INGREDIENT' || proposal.proposalType === 'CASH'">
                            <td class="table__data">{{ing.ingredientName}}</td>
                            <td class="table__data text-right" v-if="proposal.proposalType === 'CASH'">$ {{ing.ingredientPrice}}</td>
                            <td class="table__data text-right" v-else>{{ing.ingredientAmount}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="ord__footer" v-if="proposal.status !== 'CANCELED' && proposal.status !== 'COMPLETED'">
            <div class="row">
                <div class="col-6" v-if="proposal.status === 'ACCEPTED'">
                    <div class="submit submit__delete" @click="change('COMPLETED')">Завершить</div>
                </div>
                <div class="col-6"
                     :class="{'offset-6': proposal.status === 'NEW'}">
                    <div class="submit" @click="change('CANCELED')">Отменить</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { proxyLink } from '../../utils';

  export default {
    name: "ProposalsShow",
    props: {
      proposal: Object
    },
    methods: {
      change: function (status) {
        let query = '/api/v1/proposals/';
        query = query + this.proposal.id + '/change?status=' + status;

        this.$http.get(proxyLink(query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then(() => {
          window.location.reload();
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedDate(timestamp) {
        return new Date(timestamp).toISOString().slice(0, 19).replace('T', ' ');
      },
      computedNumber(id) {
        return 'Заявка №' + id;
      },
      computedType(status) {
        let res = '';
        switch (status) {
          case 'INGREDIENT':
            res = 'Ингредиенты';
            break;
          case 'GOOD':
            res = 'Товар';
            break;
          case 'CASH':
            res = 'Денежные средства';
            break;
          case 'SECURITY':
            res = 'Силовая поддержка';
            break;
          case 'NEW':
            res = 'Новая';
            break;
          case 'ACCEPTED':
            res = 'Исполняемая';
            break;
          case 'COMPLETED':
            res = 'Завершенная';
            break;
          case 'CANCELED':
            res = 'Отмененная';
            break;
        }

        return res;
      }
    }
  }
</script>
