<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="orders-c__menu">
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': proposalType === 'GOOD'}"
                         @click="flip('GOOD', 'NEW')">
                        Товар
                    </div>
                    <div class="orders-c__menu-item"
                         :class="{'orders-c__menu-item_active': proposalType === 'INGREDIENT'}"
                         @click="flip('INGREDIENT', 'NEW')">
                        Ингредиенты
                    </div>
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': proposalType === 'CASH'}"
                         @click="flip('CASH', 'NEW')">
                        Денежные средства
                    </div>
                    <div class="orders-c__menu-item"
                         :class="{'orders-c__menu-item_active': proposalType === 'SECURITY'}"
                         @click="flip('SECURITY', 'NEW')">
                        Силовая поддержка
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-8 col-md-9 col-sm-12 codes__table">
                <div class="codes__content">
                    <div class="row">
                        <div class="col-sm-6 col-12 text-justify">
                            <div class="orders-o__menu proposals-o__menu">
                                <div class="orders-o__menu-icon" @click="flip(proposalType, 'NEW')"
                                     :class="{'orders-o__menu-icon_active': proposalStatus === 'NEW'}"
                                     title="Новые">
                                    Новые
                                </div>
                                <div class="orders-o__menu-icon orders-o__menu-icon_exec"
                                     @click="flip(proposalType, 'ACCEPTED')"
                                     :class="{'orders-o__menu-icon_active': proposalStatus === 'ACCEPTED'}"
                                     title="Исполняемые">
                                    Исполняемые
                                </div>
                                <div class="orders-o__menu-icon orders-o__menu-icon_comp"
                                     @click="flip(proposalType, 'COMPLETED')"
                                     :class="{'orders-o__menu-icon_active': proposalStatus === 'COMPLETED'}"
                                     title="Завершенные">
                                    Завершенные
                                </div>
                                <div class="orders-o__menu-icon orders-o__menu-icon_canc"
                                     @click="flip(proposalType, 'CANCELED')"
                                     :class="{'orders-o__menu-icon_active': proposalStatus === 'CANCELED'}"
                                     title="Отмененные">
                                    Отмененные
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-12" v-if="totalElements !== 0">
                            <div class="pagination text-right proposals-c__pagination">
                                <button class="pagination__button"
                                        @click="updateResource(0, pageSize, proposalType, proposalStatus)"
                                        :disabled="first">
                                    &laquo;
                                </button>
                                <button class="pagination__button"
                                        @click="updateResource(currentPage - 1, pageSize, proposalType, proposalStatus)"
                                        :disabled="first">
                                    &larr;
                                </button>
                                <span>{{currentPage + 1}} / {{totalPages}}</span>
                                <button class="pagination__button"
                                        @click="updateResource(currentPage + 1, pageSize, proposalType, proposalStatus)"
                                        :disabled="last">
                                    &rarr;
                                </button>
                                <button class="pagination__button"
                                        @click="updateResource(totalPages - 1, pageSize, proposalType, proposalStatus)"
                                        :disabled="last">
                                    &raquo;
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="totalElements !== 0">
                        <table class="table" v-if="proposalType === 'SECURITY' || proposalType === 'GOOD'">
                            <thead>
                            <tr class="table__row">
                                <th class="table__head">Имя</th>
                                <th class="table__head" v-if="proposalType === 'GOOD'">Количество</th>
                                <th class="table__head" v-else>Описание</th>
                                <th class="table__head" v-if="proposalType === 'GOOD'">Место</th>
                                <th class="table__head" v-else>Исполнитель</th>
                                <th class="table__head" v-if="proposalStatus === 'NEW'">Одобрить</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="table__row" v-for="prop in proposals" :key="prop.id">
                                <td class="table__data">{{prop.user.username}}</td>
                                <td class="table__data" v-if="proposalType === 'GOOD'">{{prop.quantity}}</td>
                                <td class="table__data" v-else>{{prop.description}}</td>
                                <td class="table__data" v-if="proposalType === 'GOOD'">{{prop.place}}</td>
                                <td class="table__data" v-else>
                                    <select name="dealers" class="select orders-c__dealer" :id="'prop-' + prop.id" v-if="proposalStatus === 'NEW'">
                                        <option :value="sec.username"
                                                v-for="sec in security" :key="sec.id">
                                            {{sec.username}}
                                        </option>
                                    </select>
                                    <div v-else>
                                        {{prop.security.username}}
                                    </div>
                                </td>
                                <td class="table__data" v-if="proposalStatus === 'NEW'">
                                    <div class="submit orders-c__submit" @click="changeStatus(prop.id)">Ok</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                        <table class="table" v-if="proposalType === 'CASH' || proposalType === 'INGREDIENT'">
                            <thead>
                            <tr class="table__row">
                                <th class="table__head">Название</th>
                                <td class="table__head" v-if="proposalType === 'INGREDIENT'">Объем</td>
                                <td class="table__head" v-else>Стоимость</td>
                            </tr>
                            </thead>
                            <tbody v-for="prop in proposals">
                            <tr class="table__row" v-for="ingredient in prop.ingredient">
                                <td class="table__data">{{ingredient.ingredientName}}</td>
                                <td class="table__data" v-if="proposalType === 'INGREDIENT'">{{ingredient.ingredientAmount}}</td>
                                <td class="table__data" v-else>{{ingredient.ingredientPrice}}</td>
                            </tr>
                            <tr class="table__row" v-if="proposalStatus === 'NEW'">
                                <td></td>
                                <td class="table__data">
                                    <div class="submit orders-c__submit" @click="changeStatus(prop.id)">Ok</div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div v-if="totalElements === 0">
                    <h1 class="h1">Нет заявок</h1>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { proxyLink } from '../../utils';

  export default {
    name: "ProposalsCartel",
    data() {
      return {
        proposalType: 'GOOD',
        proposalStatus: 'NEW',
        proposals: [],
        security: [],
        currentPage: 0,
        first: true,
        last: true,
        pageSize: 15,
        totalPages: 0,
        totalElements: 0,
      }
    },
    mounted: function () {
      this.updateResource(this.currentPage, this.pageSize, this.proposalType, this.proposalStatus);
    },
    methods: {
      getSecurity: function () {
        this.$http.get(proxyLink('/api/v1/users?role=4'), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.security = resp.data;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      changeStatus: function (id) {
        let query = '/' + id + '/appoint?security=';
        if (this.proposalType === 'SECURITY') {
          let option = document.querySelector("#prop-" + id);
          let secName = option.options[option.selectedIndex].text;
          query = query + secName
        }

        this.$http.get(proxyLink('/api/v1/proposals' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then(() => {
          window.location.reload();
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      flip: function (proposalType, status) {
        this.proposals = [];
        this.currentPage = 0;
        this.pageSize = 15;
        if (this.proposalType !== proposalType) {
          this.proposalStatus = 'NEW';
        }

        if (proposalType === 'SECURITY') {
          this.getSecurity();
        } else {
          this.security = [];
          if (proposalType === 'INGREDIENT' || proposalType === 'CASH') {
            this.pageSize = 1;
          }
        }

        this.proposalStatus = status;
        this.proposalType = proposalType;
        this.updateResource(this.currentPage, this.pageSize, this.proposalType, this.proposalStatus);
      },
      updateResource: function (page, size, proposalType, status) {
        let query = 'page=' + page + '&size=' + size + '&status=' + status + '&type=' + proposalType;
        this.$http.get(proxyLink('/api/v1/proposals/?' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.proposals = resp.data.content;
          this.currentPage = resp.data.number;
          this.totalPages = resp.data.totalPages;
          this.totalElements = resp.data.totalElements;
          this.first = resp.data.first;
          this.last = resp.data.last;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      }
    }
  }
</script>
