<template>
    <form action="/api/v1/proposals/new" class="form" @submit.prevent="createProposal">
        <h1 class="h1">Создать заявку</h1>
        <div class="form__group">
            <label for="proposalType" class="label">Тип заявки:</label>
            <select v-model="proposal.proposalType" name="proposalType" id="proposalType" class="select"
                    v-on:change="flip">
                <option :value="propType" v-for="propType in proposalTypes">{{computedType(propType)}}</option>
            </select>
        </div>

        <div class="form__group" v-if="proposal.proposalType === 'SECURITY'">
            <textarea class="textarea" id="description" placeholder="Описание" v-model="proposal.description"
                      required="required">
            </textarea>
        </div>

        <div class="form__group" v-if="proposal.proposalType === 'SECURITY' || proposal.proposalType === 'GOOD'">
            <input type="text" class="input input__place" placeholder="Место" v-model="proposal.place" required="required"/>
        </div>

        <div class="form__group" v-if="proposal.proposalType === 'GOOD'">
            <input type="number" class="input input__count" placeholder="Количество" v-model="proposal.quantity"
                   required="required"/>
        </div>

        <div class="ingredients" v-if="proposal.proposalType === 'INGREDIENT' || proposal.proposalType === 'CASH'">
            <div class="form__group" v-for="(ing, index) in ingredients">
                <div class="row">
                    <div class="col-6">
                        <input type="text" class="input" placeholder="Название ингредиента" v-model="ing.ingredientName"
                               required="required"/>
                    </div>
                    <div class="col-4" v-if="proposal.proposalType === 'INGREDIENT'">
                        <input type="number" class="input input__number" placeholder="Объем" v-model="ing.ingredientAmount"
                               required="required"/>
                    </div>
                    <div class="col-4" v-if="proposal.proposalType === 'CASH'">
                        <input type="number" class="input input__number" placeholder="Стоимость" v-model="ing.ingredientPrice"
                               required="required"/>
                    </div>
                    <div class="col-2">
                        <div class="submit submit__delete" @click="removeIngredient(index)">-</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form__group" v-if="proposal.proposalType === 'INGREDIENT' || proposal.proposalType === 'CASH'">
            <div class="row">
                <div class="offset-10 col-2">
                    <div class="submit submit__add" @click="addIngredient">+</div>
                </div>
            </div>
        </div>

        <div class="form__group">
            <input type="submit" class="submit submit__all" value="Ok">
            <div class="error">
                {{ err }}
            </div>
        </div>
    </form>
</template>

<script>
  import {codeToMessage, proxyLink} from '../../utils.js';

  export default {
    name: "ProposalsNew",
    data() {
      return {
        proposalTypes: ['SECURITY'],
        price: 20,
        proposal: {
          proposalType: 'SECURITY',
          total: 0.0
        },
        ingredients: [],
        err: ''
      }
    },
    mounted: function () {
      if (this.isDealer) {
        this.proposalTypes.push('GOOD');
      }

      if (this.isCook) {
        this.proposalTypes.push('INGREDIENT');
      }

      if (this.isProvider) {
        this.proposalTypes.push('CASH');
      }
    },
    methods: {
      flip: function () {
        this.ingredients = [];
        this.proposal = {
          proposalType: this.proposal.proposalType
        };
      },
      addIngredient: function () {
        this.ingredients.push({
          ingredientName: '',
          ingredientAmount: '',
          ingredientPrice: '',
        });
      },
      removeIngredient: function (index) {
        this.ingredients.splice(index, 1);
      },
      cleanIngredients: function (oldIngr) {
        let newIngr = [];
        for (let i = 0; i < oldIngr.length; i++) {
          if (oldIngr[i] && oldIngr[i].ingredientName.replace(/\s/g, '')) {
            newIngr.push(oldIngr[i]);
          }
        }
        return newIngr;
      },
      createProposal: function () {
        let ingr = this.cleanIngredients(this.ingredients);
        if (this.proposal.proposalType === 'CASH' || this.proposal.proposalType === 'INGREDIENT') {
          this.proposal.ingredient = ingr;
        }

        this.$http.post(proxyLink('/api/v1/proposals/new'), this.proposal, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            window.location.reload();
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedType(status) {
        let res = '';
        switch (status) {
          case 'INGREDIENT':
            res = 'Ингредиенты';
            break;
          case 'GOOD':
            res = 'Товар';
            break;
          case 'CASH':
            res = 'Денежные средства';
            break;
          case 'SECURITY':
            res = 'Силовая поддержка';
            break;
        }

        return res;
      }
    },
    computed: {
      isSecurity() {
        return this.$store.getters.userRole === 'ROLE_SECURITY'
      },
      isProvider() {
        return this.$store.getters.userRole === 'ROLE_PROVIDER'
      },
      isCook() {
        return this.$store.getters.userRole === 'ROLE_COOK'
      },
      isDealer() {
        return this.$store.getters.userRole === 'ROLE_DEALER'
      }
    }
  }
</script>