<template>
    <div id="app" :class="{app__main: isLoggedIn}">
        <div class="content">
            <header class="header" v-if="isLoggedIn">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-6 text-left">
                            <div class="header__logo">
                                <img src="./assets/img/logo-small.png" class="header__img" alt="Breaking Bad">
                                <div class="header__caption">
                                    Breaking Bad
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 col-6 d-block d-lg-none">
                            <div class="header__hamburger" @click="openMenu">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-12 col-sm-12 text-right">
                            <nav class="header__nav" :class="{'header__nav_open': isOpenMenu}">
                                <ul class="menu">
                                    <li class="menu__item" v-if="isCartel || isCustomer || isDealer">
                                        <router-link to="/orders" class="link" v-on:click.native="openMenu">Заказы
                                        </router-link>
                                    </li>
                                    <li class="menu__item" v-if="isCartel">
                                        <router-link to="/codes" class="link" v-on:click.native="openMenu">Коды
                                        </router-link>
                                    </li>
                                    <li class="menu__item" v-if="isCook || isProvider">
                                        <router-link to="/reports" class="link" v-on:click.native="openMenu">Отчет</router-link>
                                    </li>
                                    <li class="menu__item" v-if="!isCustomer">
                                        <router-link to="/proposals" class="link" v-on:click.native="openMenu">Заявки</router-link>
                                    </li>
                                    <li class="menu__item" v-if="isSecurity">
                                        <router-link to="/tasks" class="link" v-on:click.native="openMenu">Задания</router-link>
                                    </li>
                                    <li class="menu__item">
                                        <router-link to="/messages" class="link" v-on:click.native="openMenu">
                                            Сообщения
                                        </router-link>
                                    </li>
                                    <li class="menu__item" v-show="isCartel">
                                        <router-link to="/statistic" class="link" v-on:click.native="openMenu">Статистика</router-link>
                                    </li>
                                    <li class="menu__item">
                                        <div class="link link__logout" @click="logout">
                                            Выход
                                        </div>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
            <router-view/>
        </div>
        <footer class="footer" v-if="isLoggedIn">
            &copy; <a href="#" class="footer__link">Copyright - MAXART 2018</a>
        </footer>
    </div>
</template>
<script>
  const AUTH_REQUEST = 'AUTH_LOGOUT';
  export default {
    data() {
      return {
        isOpenMenu: false
      }
    },
    methods: {
      logout() {
        this.$store.dispatch(AUTH_REQUEST).then();
      },
      openMenu: function () {
        this.isOpenMenu = !this.isOpenMenu;
      }
    },
    computed: {
      isLoggedIn() {
        return this.$store.getters.isAuthenticated;
      },
      isCustomer() {
        return this.$store.getters.userRole === 'ROLE_CUSTOMER'
      },
      isSecurity() {
        return this.$store.getters.userRole === 'ROLE_SECURITY'
      },
      isProvider() {
        return this.$store.getters.userRole === 'ROLE_PROVIDER'
      },
      isCartel() {
        return this.$store.getters.userRole === 'ROLE_CARTEL'
      },
      isCook() {
        return this.$store.getters.userRole === 'ROLE_COOK'
      },
      isDealer() {
        return this.$store.getters.userRole === 'ROLE_DEALER'
      }
    }
  };
</script>