<template>
    <div class="ord">
        <div class="ord__header">
            <div class="row">
                <div class="col-6 text-left">
                    {{computedNumber(order.id)}}
                </div>

                <div class="col-6 text-right">
                    {{computedDate(order.createdAt)}}
                </div>
            </div>
            <div class="row">
                <div class="col-6 text-left">
                    {{computedType(order.status)}}
                </div>

                <div class="col-6 text-right">
                    {{computedType(order.paymentStatus)}}
                </div>
            </div>
        </div>
        <div class="ord__content">
            <div class="row">
                <div class="col-12">
                    <table class="table table_vertical">
                        <thead>
                        <tr class="table__row">
                            <th class="table__head">Граммы</th>
                            <th class="table__data">{{order.quantity}}</th>
                            <th class="table__head">Город</th>
                            <th class="table__data">{{order.city}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table__row">
                            <td class="table__head">Цена</td>
                            <td class="table__data">$ {{order.amount}}</td>
                            <td class="table__head">Район</td>
                            <td class="table__data">{{order.district}}</td>
                        </tr>
                        <tr class="table__row">
                            <td class="table__head" v-if="order.dealer !== null">Дилер</td>
                            <td class="table__data" v-if="order.dealer !== null">{{order.dealer.username}}</td>
                            <td class="table__head" v-if="order.deliveryAt !== null && order.status !== 'WAITING'">
                                Время
                            </td>
                            <td class="table__data" v-if="order.deliveryAt !== null && order.status !== 'WAITING'">
                                {{computedDate(order.deliveryAt)}}
                            </td>
                        </tr>
                        <tr class="table__row" v-if="order.place !== null && order.status !== 'WAITING'">
                            <td class="table__head">Место</td>
                            <td colspan="3" class="table__data">{{order.place}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 ord__photo" v-if="order.photo !== null && order.status !== 'WAITING'">
                    <iframe :src="computedMap(order.photo)" class="ord__frame" width="100" height="100"></iframe>
                </div>
                <div class="col-12 ord__help" v-if="order.status === 'COMPLETED' && !isDealer">
                    <p class="p">Если у Вас возникли вопросы, либо вы не нашли заказ, напишите нам
                        <router-link to="/messages" class="link">сообщение</router-link></p>
                </div>
            </div>
        </div>
        <div class="ord__footer" v-if="order.status !== 'CANCELED' && order.status !== 'COMPLETED'">
            <div class="row" v-if="!isDealer">
                <div class="col-6" v-if="order.status === 'EXECUTABLE' && order.paymentStatus !== 'PAID'">
                    <div class="submit submit__delete" @click="change('PAID')">Оплатить</div>
                </div>
                <div class="col-6"
                     :class="{'offset-6': order.status !== 'EXECUTABLE' || order.paymentStatus === 'PAID'}">
                    <div class="submit" @click="change('CANCELED')">Отменить</div>
                </div>
            </div>
            <div class="row" v-else>
                <div class="col-12" v-if="order.status === 'WAITING'">
                    <h2 class="h2">Оформление заказа</h2>
                    <form :action="'/api/v1/orders/' + order.id + '/accept'" class="form ord__form"
                          @submit.prevent="checkout">
                        <div class="form__group">
                            <label for="deliveryAt" class="label">Время доставки:</label>
                            <input type="datetime-local" id="deliveryAt" class="input" name="deliveryAt"
                                   v-model="order.deliveryAt"
                                   required="required">
                        </div>
                        <div class="form__group">
                            <label for="place" class="label">Место доставки:</label>
                            <input type="text" id="place" class="input" name="place" v-model="order.place"
                                   required="required">
                        </div>
                        <div class="form__group">
                            <label for="photo" class="label">Ссылка фотографии:</label>
                            <input type="text" id="photo" class="input" name="photo" v-model="order.photo"
                                   required="required">
                        </div>
                        <div class="form__group">
                            <input type="submit" class="submit" value="Оформить">
                            <div class="error">
                                {{ err }}
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12" v-if="order.status === 'EXECUTABLE' && order.paymentStatus ==='PAID'">
                    <div class="offset-6 col-6">
                        <div class="submit" @click="change('COMPLETED')">Завершить</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import {codeToMessage, proxyLink} from '../../utils';

  export default {
    name: "OrdersShow",
    props: {
      order: Object
    },
    data() {
      return {
        err: '',
      }
    },
    methods: {
      checkout: function () {
        let query = '/api/v1/orders/' + this.order.id + '/accept';
        let ord = Object.assign({}, this.order);
        delete ord.id;
        delete ord.dealer;
        delete ord.customer;

        this.$http.post(proxyLink(query), ord, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            window.location.reload();
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      change: function (status) {
        this.err = '';
        let query = '/api/v1/orders/';
        if (status === 'CANCELED' || status === 'PAID')
          query = query + this.order.id + '/pay?status=' + status;
        else if (status === 'COMPLETED')
          query = query + this.order.id + '/complete';

        this.$http.get(proxyLink(query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then(() => {
          window.location.reload();
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedDate(timestamp) {
        return new Date(timestamp).toISOString().slice(0, 19).replace('T', ' ');
      },
      computedNumber(id) {
        return 'Заказ №' + id;
      },
      computedMap(link) {
        return link.replace('maps', 'map-widget/v1');
      },
      computedType(status) {
        let res = '';
        switch (status) {
          case 'NEW':
            res = 'Новый';
            break;
          case 'WAITING':
            res = 'Назначенный';
            break;
          case 'EXECUTABLE':
            res = 'Выполняемый';
            break;
          case 'COMPLETED':
            res = 'Завершенный';
            break;
          case 'CANCELED':
            res = 'Отмененный';
            break;
          case 'PAID':
            res = 'Оплаченный';
            break;
          case 'UNPAID':
            res = 'Неоплаченный';
            break;
        }

        return res;
      }
    },
    computed: {
      isDealer() {
        return this.$store.getters.userRole === 'ROLE_DEALER'
      }
    }
  }
</script>