<template>
    <form action="/api/v1/orders/new" class="form" @submit.prevent="createOrder">
        <h1 class="h1">Заказать товар</h1>
        <div class="form__group">
            <input type="number" class="input input__count" id="quantity" placeholder="Количество товара"
                   v-model="order.quantity"
                   required="required"/>
        </div>

        <div class="form__group">
            <input type="text" class="input input__city" placeholder="Город"
                   v-model="order.city"
                   required="required"/>
        </div>

        <div class="form__group">
            <input type="text" class="input input__district" placeholder="Район"
                   v-model="order.district"
                   required="required"/>
        </div>

        <div class="form__group">
            <div class="orders-o__summary">
                Итого: <span class="ord__summary">$ {{order.quantity * price}}</span>
            </div>
        </div>

        <div class="form__group">
            <input type="submit" class="submit" value="Ok">
            <div class="error">
                {{ err }}
            </div>
        </div>
    </form>
</template>

<script>
  import {codeToMessage, proxyLink} from '../../utils.js';

  export default {
    name: "OrdersNew",
    data() {
      return {
        price: 20,
        order: {
          quantity: '',
          city: '',
          district: ''
        },
        err: ''
      }
    },
    methods: {
      createOrder : function () {
        this.$http.post(proxyLink('/api/v1/orders/new'), this.order, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          if (Array.isArray(resp.data)) {
            this.err = codeToMessage(resp.data[0].code);
          } else {
            window.location.reload();
          }
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      }
    }
  }
</script>