<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-12">
                <div class="orders-c__menu">
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': status === 'NEW'}"
                         @click="flip('NEW')">
                        Новые
                    </div>
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': status === 'WAITING'}"
                         @click="flip('WAITING')">
                        Назначенные
                    </div>
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': status === 'EXECUTABLE'}"
                         @click="flip('EXECUTABLE')">
                        Исполняемые
                    </div>
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': status === 'COMPLETED'}"
                         @click="flip('COMPLETED')">
                        Завершенные
                    </div>
                    <div class="orders-c__menu-item" :class="{'orders-c__menu-item_active': status === 'CANCELED'}"
                         @click="flip('CANCELED')">
                        Отмененные
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-8 col-md-9 col-sm-12 codes__table">
                <div v-if="totalElements === 0">
                    <h1 class="h1">Нет заказов</h1>
                </div>
                <div class="codes__content" v-else>
                    <div class="pagination text-right">
                        <button class="pagination__button" @click="updateResource(0, pageSize, status)"
                                :disabled="first">
                            &laquo;
                        </button>
                        <button class="pagination__button" @click="updateResource(currentPage - 1, pageSize, status)"
                                :disabled="first">
                            &larr;
                        </button>
                        <span>{{currentPage + 1}} / {{totalPages}}</span>
                        <button class="pagination__button" @click="updateResource(currentPage + 1, pageSize, status)"
                                :disabled="last">
                            &rarr;
                        </button>
                        <button class="pagination__button" @click="updateResource(totalPages - 1, pageSize, status)"
                                :disabled="last">
                            &raquo;
                        </button>
                    </div>
                    <table class="table">
                        <thead>
                        <tr class="table__row">
                            <th class="table__head">Имя</th>
                            <th class="table__head orders-c__col-hide">Количество</th>
                            <th class="table__head orders-c__col-hide">Город</th>
                            <th class="table__head">Дилер</th>
                            <th class="table__head" v-show="status === 'NEW'">Назначить</th>
                            <th class="table__head" v-show="status === 'WAITING' || status === 'CANCELED'">Время
                                заказа
                            </th>
                            <th class="table__head" v-show="status === 'EXECUTABLE'">Статус оплаты</th>
                            <th class="table__head" v-show="status === 'COMPLETED'">Время доставки</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="table__row" v-for="ord in orders" :key="ord.id">
                            <td class="table__data">{{ord.customer.username}}</td>
                            <td class="table__data orders-c__col-hide">{{ord.quantity}}</td>
                            <td class="table__data orders-c__col-hide">{{ord.city}}</td>
                            <td class="table__data" v-if="status === 'NEW'">
                                <select name="dealers" class="select orders-c__dealer" :id="'order-' + ord.id">
                                    <option :value="dealer.username"
                                            v-for="dealer in dealers" :key="dealer.id">
                                        {{dealer.username}}
                                    </option>
                                </select>
                            </td>
                            <td class="table__data" v-else>
                                {{ord.dealer.username}}
                            </td>
                            <td class="table__data" v-else>{{ord.amount}}</td>
                            <th class="table__head" v-show="status === 'NEW'">
                                <div class="submit orders-c__submit" @click="changeStatus(ord.id)">Ok</div>
                            </th>
                            <td class="table__data" v-show="status === 'WAITING' || status === 'CANCELED'">
                                {{computedTime(ord.createdAt)}}
                            </td>
                            <td class="table__data" v-show="status === 'EXECUTABLE'">
                                {{computedPay(ord.paymentStatus)}}
                            </td>
                            <td class="table__data" v-show="status === 'COMPLETED'">{{computedTime(ord.deliveryAt)}}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
  import { proxyLink } from '../../utils';

  export default {
    name: "OrdersCartel",
    data() {
      return {
        status: 'NEW',
        order: {
          dealer: {
            username: ''
          },
        },
        orders: [],
        dealers: [],
        currentPage: 0,
        first: true,
        last: true,
        pageSize: 15,
        totalPages: 0,
        totalElements: 0,
      }
    },
    mounted: function () {
      this.getDealers();
      this.updateResource(this.currentPage, this.pageSize, this.status);
    },
    methods: {
      getDealers: function () {
        this.$http.get(proxyLink('/api/v1/users?role=2'), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.dealers = resp.data;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      changeStatus: function (id) {
        let option = document.querySelector("#order-" + id);
        let dealerName = option.options[option.selectedIndex].text;
        this.order.dealer.username = dealerName;
        let query = '/' + id + '/appoint';
        this.$http.post(proxyLink('/api/v1/orders' + query), this.order, {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then(() => {
            window.location.reload();
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      flip: function (status) {
        this.currentPage = 0;
        this.orders = [];
        this.status = status;
        this.updateResource(this.currentPage, this.pageSize, this.status);
      },
      updateResource: function (page, size, status) {
        let query = 'page=' + page + '&size=' + size + '&status=' + status;
        this.$http.get(proxyLink('/api/v1/orders/?' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.orders = resp.data.content;
          this.currentPage = resp.data.number;
          this.totalPages = resp.data.totalPages;
          this.totalElements = resp.data.totalElements;
          this.first = resp.data.first;
          this.last = resp.data.last;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedTime(timestamp) {
        return new Date(timestamp).toISOString().slice(0, 19).replace('T', ' ');
      },
      computedPay(status) {
        return status === 'UNPAID' ? 'Не оплачен' : 'Оплачен';
      }
    }
  }
</script>

<style scoped>

</style>