<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-6 col-sm-12 col-12">
                <div class="row">
                    <div class="col-12 text-justify">
                        <div class="orders-o__menu">
                            <div class="orders-o__menu-icon" @click="flip('NEW')" v-if="!isDealer"
                                 :class="{'orders-o__menu-icon_active': status === 'NEW'}"
                                 title="Новые заказы">
                                Новые
                            </div>
                            <div class="orders-o__menu-icon orders-o__menu-icon_wait" @click="flip('WAITING')"
                                 :class="{'orders-o__menu-icon_active': status === 'WAITING'}"
                                 title="Назначенные заказы">
                                Назначенные
                            </div>
                            <div class="orders-o__menu-icon orders-o__menu-icon_exec" @click="flip('EXECUTABLE')"
                                 :class="{'orders-o__menu-icon_active': status === 'EXECUTABLE'}"
                                 title="Выполняемые заказы">
                                Выполняемые
                            </div>
                            <div class="orders-o__menu-icon orders-o__menu-icon_comp" @click="flip('COMPLETED')"
                                 :class="{'orders-o__menu-icon_active': status === 'COMPLETED'}"
                                 title="Завершенные заказы">
                                Завершенные
                            </div>
                            <div class="orders-o__menu-icon orders-o__menu-icon_canc" @click="flip('CANCELED')"
                                 :class="{'orders-o__menu-icon_active': status === 'CANCELED'}"
                                 title="Отмененные заказы">
                                Отмененные
                            </div>
                            <div class="orders-o__menu-icon orders-o__menu-icon_new" @click="changeAction('new', null)"
                                 title="Заказать" v-if="!isDealer">
                                Сделать заказ
                            </div>
                        </div>
                    </div>
                </div>
                <div v-if="totalElements === 0">
                    <h1 class="h1">Нет заказов</h1>
                </div>
                <div class="orders-o__content" v-else>
                    <div class="order" v-for="ord in orders" :key="ord.id" @click="changeAction('open', ord)"
                         :class="{order_current: ord.id === order.id}">
                        <img src="../../assets/img/cart.png" alt="Корзина" class="order__cart">
                        <div class="order__info">
                            <div class="order__number">
                                {{computedNumber(ord.id)}}
                            </div>
                            <div class="order__date">
                                {{computedDate(ord.createdAt)}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pagination" v-if="totalElements > 0">
                    <button class="pagination__button" @click="updateResource(0, pageSize, status)"
                            :disabled="first">
                        &laquo;
                    </button>
                    <button class="pagination__button"
                            @click="updateResource(currentPage - 1, pageSize, status)"
                            :disabled="first">
                        &larr;
                    </button>
                    <span>{{currentPage + 1}} / {{totalPages}}</span>
                    <button class="pagination__button"
                            @click="updateResource(currentPage + 1, pageSize, status)"
                            :disabled="last">
                        &rarr;
                    </button>
                    <button class="pagination__button"
                            @click="updateResource(totalPages - 1, pageSize, status)"
                            :disabled="last">
                        &raquo;
                    </button>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-5 col-md-6 col-sm-12 col-12" v-if="action==='new' && !isDealer">
                <OrdersNew/>
            </div>
            <div class="offset-lg-1 col-lg-6 col-md-6 col-sm-12 col-12" v-else>
                <OrdersShow v-if="action==='open'" :order="order"/>
            </div>
        </div>
    </div>
</template>

<script>
  import OrdersNew from "./OrdersNew.vue";
  import OrdersShow from "./OrdersShow.vue";
  import { proxyLink } from '../../utils';

  export default {
    name: "OrdersOther",
    data() {
      return {
        status: 'NEW',
        action: 'new',
        order: {
          id: 0
        },
        orders: [],
        currentPage: 0,
        first: true,
        last: true,
        pageSize: 5,
        totalPages: 0,
        totalElements: 0,
      }
    },
    components: {
      OrdersNew,
      OrdersShow,
    },
    mounted: function () {
      if (this.isDealer) {
        this.status = 'WAITING'
      }

      this.updateResource(this.currentPage, this.pageSize, this.status);
    },
    methods: {
      flip: function (status) {
        this.currentPage = 0;
        this.orders = [];
        this.status = status;
        this.updateResource(this.currentPage, this.pageSize, this.status);
      },
      changeAction: function (action, ord) {
        if (action === 'new') {
          this.order = {id: 0};
        } else {
          this.order = ord;
        }

        this.action = action;
      },
      updateResource: function (page, size, status) {
        let query = 'page=' + page + '&size=' + size + '&status=' + status;
        this.$http.get(proxyLink('/api/v1/orders/?' + query), {
          headers: {
            'Authorization': 'Bearer ' + window.localStorage.getItem('token'),
          },
        }).then((resp) => {
          this.orders = resp.data.content;
          this.currentPage = resp.data.number;
          this.totalPages = resp.data.totalPages;
          this.totalElements = resp.data.totalElements;
          this.first = resp.data.first;
          this.last = resp.data.last;
        }).catch((err) => {
          if (err.response.status === 401) {
            if (err.response.data.error === 'invalid_token') {
              this.$store.dispatch('AUTH_LOGOUT').then();
            } else {
              window.location.replace('/messages')
            }
          }
        });
      },
      computedDate(timestamp) {
        return new Date(timestamp).toISOString().slice(0, 19).replace('T', ' ');
      },
      computedNumber(id) {
        return 'Заказ №' + id;
      },
    },
    computed: {
      isDealer() {
        return this.$store.getters.userRole === 'ROLE_DEALER'
      }
    }
  }
</script>

<style scoped>

</style>